[submodule "plugins/rainbow-mode"]
	path = plugins/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode.git
[submodule "plugins/magit"]
	path = plugins/magit
	url = https://github.com/magit/magit.git
[submodule "plugins/use-package"]
	path = plugins/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "plugins/smart-mode-line"]
	path = plugins/smart-mode-line
	url = https://github.com/Malabarba/smart-mode-line.git
[submodule "plugins/rich-minority"]
	path = plugins/rich-minority
	url = https://github.com/Malabarba/rich-minority.git
[submodule "plugins/flycheck"]
	path = plugins/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "plugins/ac-cider"]
	path = plugins/ac-cider
	url = https://github.com/clojure-emacs/ac-cider.git
[submodule "plugins/auto-complete"]
	path = plugins/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "plugins/dash"]
	path = plugins/dash
	url = https://github.com/magnars/dash.el.git
[submodule "plugins/popup"]
	path = plugins/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule "plugins/with-editor"]
	path = plugins/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "plugins/cider"]
	path = plugins/cider
	url = https://github.com/clojure-emacs/cider.git
[submodule "plugins/git-modes"]
	path = plugins/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "plugins/ggtags"]
	path = plugins/ggtags
	url = https://github.com/leoliu/ggtags.git
[submodule "plugins/ac-nrepl"]
	path = plugins/ac-nrepl
	url = https://github.com/clojure-emacs/ac-nrepl.git
[submodule "plugins/clojure-mode"]
	path = plugins/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "plugins/rainbow-delimiters"]
	path = plugins/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "plugins/smartparens"]
	path = plugins/smartparens
	url = https://github.com/Fuco1/smartparens.git
[submodule "plugins/emacs-jedi"]
	path = plugins/emacs-jedi
	url = https://github.com/tkf/emacs-jedi.git
[submodule "plugins/emacs-python-environment"]
	path = plugins/emacs-python-environment
	url = https://github.com/tkf/emacs-python-environment.git
[submodule "plugins/irony-mode"]
	path = plugins/irony-mode
	url = https://github.com/Sarcasm/irony-mode.git
[submodule "plugins/company-mode"]
	path = plugins/company-mode
	url = https://github.com/company-mode/company-mode
[submodule "plugins/company-irony"]
	path = plugins/company-irony
	url = https://github.com/Sarcasm/company-irony
[submodule "plugins/disaster"]
	path = plugins/disaster
	url = https://github.com/jart/disaster
[submodule "plugins/go-mode"]
	path = plugins/go-mode
	url = https://github.com/dominikh/go-mode.el
[submodule "plugins/go-eldoc"]
	path = plugins/go-eldoc
	url = https://github.com/syohex/emacs-go-eldoc
[submodule "plugins/lsp-mode"]
	path = plugins/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode
[submodule "plugins/lsp-ui"]
	path = plugins/lsp-ui
	url = https://github.com/emacs-lsp/lsp-ui
[submodule "plugins/sesman"]
	path = plugins/sesman
	url = https://github.com/vspinu/sesman
[submodule "plugins/lua-mode"]
	path = plugins/lua-mode
	url = https://github.com/immerrr/lua-mode
[submodule "plugins/transient"]
	path = plugins/transient
	url = https://github.com/magit/transient
[submodule "plugins/lsp-java"]
	path = plugins/lsp-java
	url = https://github.com/emacs-lsp/lsp-java
[submodule "plugins/company-lsp"]
	path = plugins/company-lsp
	url = https://github.com/tigersoldier/company-lsp
[submodule "plugins/dap-mode"]
	path = plugins/dap-mode
	url = https://github.com/yyoncho/dap-mode/
[submodule "plugins/emacs-request"]
	path = plugins/emacs-request
	url = https://github.com/tkf/emacs-request
